* {
    font-family: 'Work Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 10px 50px;
}

.nav-title {
    font-weight: 700;
    font-size: 45px;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    
}

.banner {
    background: rgba(255, 144, 14, 0.1);
    }

.banner-title {
    font-size: 64px;
    color: #131313;
    text-align: center;


}

.banner-description,
.container-description {
    color: #727272;

}

.btn-button {
    width: 180px;
    height: 64px;
    font-size: 20px;
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 5px;
    border: 0;

}

.banner-image {
    text-align: center;
    padding: 50px 50px;
}

.container {
    display: flex;
    align-items: center;
}

.container-title {
    font-size: 45px;
    color: #727272;

}

.text-primary {
    color: #131313;
}

.text-primary-2 {
    color: #FF900E;
}

.text-container {
    display: flex;
    padding: 50px 50px;
}

.skills-container {
    display: flex;
    gap: 241.83px;
}

.section-title {
    font-size: 45px;
    color: #131313;
}

.skill-description-skill {
    color: #727272;
    margin-top: 24px;
}

.skill {
    border: 1px solid #FF900E;
    border-radius: 8px;
    align-items: center;
    padding: 30px;
    margin-top: 100px;
}

.skill-title {
    color: #727272;
    font-size: 45px;
    text-align: center;

}

.skill-description {
    font-size: 20px;
    text-align: center;
}

.sponspors-title {
    text-align: center;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 24px;
}

.sponspors-description {
    text-align: center;
    color: #727272;
    margin-bottom: 50px;
}

.sponspors-name {
    text-align: center;

}

.tooter-tag {
    text-align: center;
    background: #FFF4E7;
    border-radius: 8px;
    padding: 50px 50px;
    font-size: 20px;
    color: #424242;
    margin-top: 130px;
}